header .page-header {
  margin-top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #eee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #eee;
}
